
<% if !current_page?(root_path) %>
  <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <a href="#">Home</a>
        <a href="#">Home</a>
        <a href="#">Home</a>
        <a href="#">Home</a>
  </nav>
<% end %>
