

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}


.app-name {
  color: #f2eaea;
  text-shadow: 5px 5px 5px rgb(23, 23, 17);
  letter-spacing: 5px;
  font-weight: bold;
  text-align: center;
}

.app-summary {
  color: #e8d9e0;
  font-weight: bolder;
  text-align: center;
}




.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;


  background: image_url('blurred-window.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-origin: content-box;
  width:100%;
  height:100%;
  overflow: hidden;
}
